[Unit]
Description=Daily thought to slack
After=network.target

[Container]
Image=ghcr.io/ilarisorvali/dailythonkbot:latest
Exec=christmas_calendar.py
EnvironmentFile=/home/ilari/dailythonkbot/.env
